parameters:
  paths:
    - src
  excludePaths:
    - src/Facades/Pulse.php
    - vendor
  level: 7
  ignoreErrors:
    - identifier: function.alreadyNarrowedType
    - identifier: match.alwaysTrue
    - "#Class Laravel\\\\Telescope\\\\Contracts\\\\EntriesRepository not found#"
    - "#Call to static method store\\(\\) on an unknown class Laravel\\\\Telescope\\\\Telescope#"
  treatPhpDocTypesAsCertain: false
